
<div class="container">
<div class="section">

      <!--   Icon Section   -->
  
      <div class="row">
      <a href="/users/login">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center indigo-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Login</h5>

            <p class="light center">Registered Users Sign in Here!</p>

  </div>
</div>
</a>
<a href="/users/new">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center indigo-text"><i class="material-icons">group</i></h2>
            <h5 class="center">New Users</h5>

            <p class="light center">Not registered? </p>
            <p class="light center">No problem! Sign up for an account</p>
          </div>
        </div>

</a>

</div>