<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Wiki App</title>

<!-- materialize -->
 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">


<link rel="stylesheet" href="/styles/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="scripts/init.js"></script>

  </head>
  <header>

  <nav class="white z-depth-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/articles" class="brand-logo">Interconnect</a>
      <ul class="right hide-on-med-and-down">
      <% if(!user) { %>
        <li><a href="/users/login">Log in</a></li>
        <li><a href="/users/new">Sign up</a></li>
      <% } %>

        <li><a href="/articles">Articles</a></li>
        <li><a href="/users">Users</a></li>
        <li> <a href="#">
        <% var d = new Date(); var time = d.getHours(); %>
        <% if ((time) >= 12 ) { %>
          Good Evening, 
        <% } else {%>
          Good Morning,
         <% }%>
         <%= userId || 'Guest'%> </a> </li>
        <% if (user) { %>

          <!-- Dropdown Trigger -->
  <a class='dropdown-button btn z-depth-0' href='#' data-activates='dropdown1'>Account</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/users/show" + <%=user %>> Go to profile</a></li>
    <li><a href="/users/logout">Logout</a></li>
    <li class="divider"></li>
    
  </ul>
        
        <% } %>
      </ul>
    </div>
  </div>
  </nav>
  </header>
  <body>

    
    <%- body %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  

  </body>

</html>