<style>
form {
	margin-top: 100px
}
</style>
        
<div class="row">
<form  class="col s12" action="/articles" method="post">
      <div class="row">

	     <div class="input-field col s6">
          <input 	class="validate"
	          		type="text"
					name="article[title]"
					id="input" 
					placeholder="">	
          <label for="first_name">Title</label>
        </div>

        <div class="input-field col s12">
         <textarea id="textarea1" 
         			class="materialize-textarea"
         			rows="10"
         			name="article[content]"></textarea>
          <label for="textarea1">Textarea</label>		
        </div>
<!-- 
        <div class="input-field col 12">
        	 <input class="validate"
	          		type="text"
					name="article[imageNo]"
					id="input" 
					placeholder="file name">	
        </div> -->
      
        <div class="input-field col s12">
        <label for="categories">Categories</label>	
		<input type="text"
				name="article[categories]"
				class="validate"
				placeholder="">
		 	
        </div>
<br>
        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-top:40px;">Submit</button>
  </div>
</form>

<!-- 
<form action="/articles" method="post">
	<div class="form-group">
		<label for="articleTitle">article Title</label>
		<input type="text"
				name="article[title]"
				placeholder="Title">
		

		<label for="articleAuthor">Author</label>
		<input type="text"
				name="article[_author]"
				placeholder="Name">
		
		<label for="imageURL">Link to image</label>
		<input type="text"
				name="article[imageURL]"
				placeholder="link to image">
		<label for="upload">Upload image</label>
		 <div class="form-group">
	    <label for="imageFileInput">File upload</label>
	    <input type="file" id="imageFileInput">
	    <p class="help-block">Upload your image</p>
	 	 </div>
	

		<label for="body">article body</label>
		<textarea class="form-control" 
					rows="5"
					name="article[content]"
					placeholder="write away"></textarea>

		<label for="categories">categories</label>
		<input type="text"
				name="article[categories]"
				placeholder="enter comma separated categories">



	
	<input type="submit">

</div>


</form> -->