body {

}

.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

h3 {
	font-weight: 100;
	text-align: center;
}

table {
	
	margin: 0 auto;
}

.btn-flat {
	
	color: #1a237e;
	background-color: white;
	border: 1px solid gray;
	text-transform: uppercase;
}

.btn {
	background-color: #8c9eff;
}
.btn:hover{
	background-color: #3949ab;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

form {
	width: 80%;
}
ul .tabs {
	color: indigo;
}

