<div class="card center-align" style="width:95%;margin:0 auto;margin-top:20px;padding:20px;">

<h3>User Index</h3>
	
<table class="table table-hover center-align">
  	<thead>
			<th>Full Name</th>
			<th>Username</th>
			<th>Articles</th>
			<th>Details</th>
			<th>Edit</th>
	</thead>

<% users.forEach(function (user, i) { %>
	<tbody>	
		<tr>
			<td><%= user.fullName %> </td>
			<td> <%= user.username %></td>
			<td></td>
			<td><a class="waves-effect waves z-depth-0" href="/users/show/<%= user._id %>" role="button">Go to User Page</a>
			</td>
			<td><a class="btn btn-default z-depth-0" href="/users/<%= user._id %>/edit" role="button">Edit</a>
			</td>
		</tr>
	</tbody>
<% }); %>

</table>

</div>

<div style="margin-left:30px;margin-top:10px;">
 <a class="btn-floating btn-large waves-effect waves"href="/users/new" id="add" href="/articles/new">+</a>


</div>
