        
<div class="row">
<form action="/users/login" method="post" class="col s12">
  
     <div class="input-field col s6">
          <input placeholder="Full Name" 
              id="first_name" 
              type="text" 
              name="user[fullName]"
              class="validate">
          <label for="first_name"></label>
  </div>
  <div class="input-field col s6">
    <label class="label" for="username"></label>
    <input  type="text" 
            name="user[username]" 
            class="validate" 
            id="exampleInputEmail3" 
            placeholder="Username">
  </div>
  <div class="input-field col s6">
    <label class="label" for="password"></label>
    <input  type="password" 
          name="user[password]" 
            class="validate" 
            id="exampleInputPassword3" 
            placeholder="Password">
  </div>

   <div class="row">
        <div class="input-field col s6">
          <input id="email" 
                  type="email"
                  name="user[email]" 
                  class="validate"
                  placeholder="Email address">
          <label for="email"></label>
        </div>

  <a class="btn btn-primary z-depth-0" href="/users/login" role="button" style="margin:50px;left:20%;">Sign In</a>

</form>