<div class="jumbotron">
  <h1>Login error</h1>
  <p>either the username or password you provided do not match.</p>
  <p>Please try again or sign up</p>
  <p><a class="btn btn-primary btn-lg" href="/users/login" role="button">Back to Login</a></p>
   <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign up!</a></p>
</div>