<style>
  input, select, textarea { 
color: white; 
}
</style>
  
</style>

        
<div class="row">
<form action="/users/login" method="post" class="col s12">

  <div class="input-field col s6">
    <label class="label" for="username"></label>
    <input  type="text" 
            name="user[username]" 
            class="validate" 
            placeholder="Username">
  </div>

  <div class="input-field col s6">
    <label class="label" for="password"></label>
    <input  type="password" 
          name="user[password]" 
            class="validate" 
            placeholder="Password">
  </div>

  <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-top:40px;">
  Log in</button>


</form>