<style>
form {
	margin-top: 100px
}
</style>
        
<div class="row">
<form  class="col s12" action="/users" method="post">
      <div class="row">

	     <div class="input-field col s6">
	     <label for="fullName">Name</label>
          <input 	class="validate"
	          		type="text"
					name="user[fullName]"
					id="input" 
					placeholder="">	
          
        </div>

             <div class="input-field col s6">
             <label for="userUsername">Username</label>
          <input 	class="validate"
	          		type="text"
					name="user[username]"
					id="input" 
					placeholder="">	
          
        </div>
      
        <div class="input-field col s6">
        <label for="password">Password</label>	
		<input type="text"
				name="user[password]"
				class="validate"
				placeholder="">
		 	
        </div>
<br>
<br>
    <div>
        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-top:40px;">Submit</button>
  </div>



<!-- </form>

<form id="articleNew" class="form-horizontal" action="/users" method="post">
	<div class="form-group">
		<label for="fullName">Name</label>
		<input type="text"
				name="user[fullName]"
				class="form-control" 
				placeholder="Name">
		

		<label for="userUsername">Username</label>
		<input type="text"
				name="user[username]"
				class="form-control" 
				placeholder="pick a username">

		<label for="password">Password</label>
		<input 	type="text"
				name="user[password]" 
		  		class="form-control"  
		  		placeholder="Password"> -->
		
	<!-- 	<label for="profilePhoto">Profile photo</label>
		<input type="text"
				name="user[picture]"
				class="form-control" 
				placeholder="link to profile picture"> -->
		
	

<!-- 		<label for="bio">Bio</label>
		<textarea class="form-control" 
					rows="3"
					name="user[bio]"
					class="form-control" 
					placeholder="short bio, limit 1000 characters"></textarea> -->
<!-- 	<br>
	<br>
	<input type="submit">

</div>
</form> -->