<style>
form {
	margin-top: 100px
}
</style>
        
<div class="row">
<form  class="col s12" action="/users" method="post">
   <div class="row">
    <div class="input-field col s6">
	  <label for="fullName">Name</label>
          <input 	class="validate"
	          		type="text"
					name="user[fullName]"
					id="input" 
					placeholder="">	
          
    </div>
     <div class="input-field col s6">
          <label for="userUsername">Username</label>
          <input 	class="validate"
	          		type="text"
					name="user[username]"
					id="input" 
					placeholder="">	
    </div>
     <div class="input-field col s6">
        <label for="password">Password</label>	
		<input type="password"
				name="user[password]"
				class="validate"
				placeholder="">
		 	
    </div>
		<br>
		<br>
    <div>
        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-top:40px;">Submit
        </button>
  	</div>
  </div>
 </form>
</div>
