<%= user._id %>


<div class="container-fluid">
	<div class="col-md-4"></div>
</div>
<h5>Name: <%= user.fullName %> </h5>


<h5>Username: <%= user.username %> </h5>


<h5>Password: <%= user.password %> </h5>



